{% extends 'base.html' %}

{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }} <!--protects against crosssite attacks and cookie manipulation using the secret_key-->
        <fieldset class=form-group>
            <legend class="border-bottom mb-4">Add user</legend>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }} <!--using the the python class RegistrationForm fields together with html and Bootstrap classes-->

                {% if form.email.errors %}<!-- checking if username has any errors-->
                    {{ form.email(class="form-control form-control-lg is-invalid") }} <!--username is invalid, using the Bootstrap class "is-invalid"-->
                    <div class="invalid-feedback"> <!--div for printing error message for the "is-invalid" class-->
                        {% for error in form.email.errors %} <!--print error message-->
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.fornavn.label(class="form-control-label") }} <!--using the the python class RegistrationForm fields together with html and Bootstrap classes-->

                {% if form.fornavn.errors %}<!-- checking if username has any errors-->
                    {{ form.fornavn(class="form-control form-control-lg is-invalid") }} <!--username is invalid, using the Bootstrap class "is-invalid"-->
                    <div class="invalid-feedback"> <!--div for printing error message for the "is-invalid" class-->
                        {% for error in form.fornavn.errors %} <!--print error message-->
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.fornavn(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.efternavn.label(class="form-control-label") }} 

                {% if form.efternavn.errors %}
                    {{ form.efternavn(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback"> 
                        {% for error in form.efternavn.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.efternavn(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}

                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="form-control form-control-lg") }}
            {% endif %}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label(class="form-control-label") }}
                
                {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.confirm_password(class="form-control form-control-lg") }}
            {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info m-2") }}
        </div>
    </form>
</div>
{% endblock content %}